*{
     padding: 0;
}
#up{
    
      outline: 3px solid #ff0000;
}
h1{
    color: aqua;
    margin: 10% 15% 10% 15%;
    text-align: center;
   
}

.flex-grid {
  display: flex;

  margin: 0px 0px 30px 0px;
  gap: 50%
  ;
}
.grid-right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
justify-content: right;
}

.grid-left {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
justify-content: left;
}